.statistics {

	.statistics__box {
		display: flex;
		flex-wrap: wrap;
		row-gap: calc(var(--index) * 1.2);

		.statistics__statistic {
			width: 100%;
			display: flex;
			background: #8844F7;
			column-gap: calc(var(--index) * 1.5);
			padding: calc(var(--index) * 1.2) 0 calc(var(--index) * 1.2) calc(var(--index) * 2);
			border-radius: calc(var(--index) * .5);

			.statistic__image {
				width: calc(var(--index) * 3);
			}

			.statistics__statistic-inside-box {
				.statistic {
					font-family: Title_Font, sans-serif;
					font-size: calc(var(--index) * 1.4);
					color: #4A16A1;
				}

				.information {
					font-size: calc(var(--index) * 1.4);
					color: #BD97FB;
				}
			}
		}
	}
}