.about_us {
	.box__flex {
		padding: calc(var(--index) * 3) 0 calc(var(--index) * 5);
		display: flex;
		justify-content: space-between;
		align-items: start;

		.about_us__title {
			font-size: calc(var(--index) * 2.3);
			color: #AA37F5;
		}

		.about_us__text {
			font-size: calc(var(--index) * 1.3);
			width: calc(var(--index) * 45);
		}
	}
}