@media (max-width: 1346px) and (min-width: 1075px) {}

@media (max-width: 1075px) and (min-width: 900px) {
	.hero {
		height: calc(var(--index) * 36);
	}
}

@media (max-width: 900px) and (min-width: 768px) {
	.hero {
		height: calc(var(--index) * 34);
	}

	.hero .hero__title {
		font-size: calc(var(--index)* 9);
	}
}

@media (max-width: 768px) and (min-width: 668px) {
	.hero {
		height: calc(var(--index) * 32);
	}

	.hero .hero__title {
		font-size: calc(var(--index)* 8);
	}
}

@media (max-width: 668px) and (min-width: 509px) {
	.hero {
		height: calc(var(--index) * 30);
	}

	.hero .hero__title {
		font-size: calc(var(--index)* 7);
	}
}

@media (max-width: 509px) and (min-width: 410px) {
	.hero {
		height: calc(var(--index) * 28);
	}

	.hero .hero__title {
		font-size: calc(var(--index)* 6);
	}
}

@media (max-width: 410px) and (min-width: 320px) {
	.hero {
		height: calc(var(--index) * 26);
	}

	.hero .hero__title {
		font-size: calc(var(--index)* 5);
	}
}

@media (max-width: 320px) and (min-width: 220px) {
	.hero {
		height: calc(var(--index) * 24);
	}

	.hero .hero__title {
		font-size: calc(var(--index)* 4);
	}
}