.users__courses {
	margin-top: calc(var(--index) * 7);

	.users__courses-title {
		font-size: calc(var(--index) * 2.1);
		color: #AF44F6;
	}

	.row {
		display: flex;
		flex-wrap: wrap;
		gap: calc(var(--index) * 1) calc(var(--index) * .68);
		margin: calc(var(--index) * 2) 0 calc(var(--index) * 4);
	}
}