.founders {
	.founders__title {
		font-size: calc(var(--index) * 2.3);
		color: #AA37F5;
		margin-bottom: calc(var(--index) * .9);
	}

	.row {
		display: flex;
		column-gap: calc(var(--index) * 1.3);

		.founder__card {
			position: relative;
			width: calc(var(--index) * 20);
			height: calc(var(--index) * 20);
			background: #F2F2F2;
			overflow: hidden;
			border-radius: calc(var(--index) * .5);

			.founder__img {
				width: 100%;
			}

			.founder__name {
				font-size: calc(var(--index) * 1.5);
				color: #F2F2F2;
				position: absolute;
				left: calc(var(--index) * 1);
				bottom: calc(var(--index) * 1);
			}
		}
	}
}